{% extends "home.html" %} {% block content %}
<h3>Virtual servers</h3>
<p><a href="/virtuals/create"><button>+</button>create new virtual server</a></p>
<table id="virtuals_table">
  <tr>
    <th>Name</th>
    <th>Partition</th>
    <th>Description</th>
    <th>Source ip/mask</th>
    <th>Destination ip:port</th>
    <th>Enabled</th>
    <th>Action</th>
  </tr>
  {% for item in virtuals %}
  <tr>
    <td>
      <a href="/virtuals/{{ item.partition }}/{{ item.name }}">
        {{ item.name }}
      </a>
    </td>
    <td>{{ item.partition }}</td>
    <td>{{ item.description }}</td>
    <td>{{ item.source }}</td>
    <td>{{ item.destination }}</td>
    <td>{{ item.enabled }}</td>
    <td>
      <div style="display: inline">
        <form action="/virtuals/{{ item.partition }}/{{ item.name }}" method="POST">
          <input type="hidden" name="action" value="delete" />
          <input type="submit" value="Delete" />
        </form>
        <a href="/virtuals/{{ item.partition }}/{{ item.name }}">
          <button>Edit</button>
        </a>
      </div>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
